table, th, td {
	padding: 15px;
    border: 1px solid black;
    border-collapse: collapse;
   
}
#rb{
	width: 10%;
}
table{
	
    margin-top: 15px;
    width: 60%;
	text-align: center;
	margin: auto;
}

#firstForm{
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: lightgray;
	margin: auto;
	text-align: center;
}
#secondForm{
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: gray;
	text-align: center;
}
#thirdForm{
	text-align: center;
	padding: 5px;
	margin-top: 15px;
	margin-bottom: 15px;
	background-color: darkgray;
}
input{
	padding: 1px;
	margin-bottom: 8px;
	margin-top: 8px;
}